web/WEB-INF/wsdl/localhost_8080/ddaPlanClaseAD/ddaWSPlanClaseAD.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.planclase.dda/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.planclase.dda/" name="ddaWSPlanClaseAD">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.planclase.dda/" schemaLocation="http://localhost:8080/ddaPlanClaseAD/ddaWSPlanClaseAD?xsd=1"/>
</xsd:schema>
</types>
<message name="getPeriodoFinSem">
<part name="parameters" element="tns:getPeriodoFinSem"/>
</message>
<message name="getPeriodoFinSemResponse">
<part name="parameters" element="tns:getPeriodoFinSemResponse"/>
</message>
<message name="obtenerMes">
<part name="parameters" element="tns:obtenerMes"/>
</message>
<message name="obtenerMesResponse">
<part name="parameters" element="tns:obtenerMesResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="setCalendario">
<part name="parameters" element="tns:setCalendario"/>
</message>
<message name="setCalendarioResponse">
<part name="parameters" element="tns:setCalendarioResponse"/>
</message>
<message name="getHorarioDoc">
<part name="parameters" element="tns:getHorarioDoc"/>
</message>
<message name="getHorarioDocResponse">
<part name="parameters" element="tns:getHorarioDocResponse"/>
</message>
<message name="determinar">
<part name="parameters" element="tns:determinar"/>
</message>
<message name="determinarResponse">
<part name="parameters" element="tns:determinarResponse"/>
</message>
<message name="getCalendarioAD">
<part name="parameters" element="tns:getCalendarioAD"/>
</message>
<message name="getCalendarioADResponse">
<part name="parameters" element="tns:getCalendarioADResponse"/>
</message>
<message name="getProbarq">
<part name="parameters" element="tns:getProbarq"/>
</message>
<message name="getProbarqResponse">
<part name="parameters" element="tns:getProbarqResponse"/>
</message>
<message name="getDocente">
<part name="parameters" element="tns:getDocente"/>
</message>
<message name="getDocenteResponse">
<part name="parameters" element="tns:getDocenteResponse"/>
</message>
<message name="getProbarqVELE2COM">
<part name="parameters" element="tns:getProbarqVELE2COM"/>
</message>
<message name="getProbarqVELE2COMResponse">
<part name="parameters" element="tns:getProbarqVELE2COMResponse"/>
</message>
<message name="obtenerUltimoDiaMes">
<part name="parameters" element="tns:obtenerUltimoDiaMes"/>
</message>
<message name="obtenerUltimoDiaMesResponse">
<part name="parameters" element="tns:obtenerUltimoDiaMesResponse"/>
</message>
<message name="getComprobacionFechaCalendario">
<part name="parameters" element="tns:getComprobacionFechaCalendario"/>
</message>
<message name="getComprobacionFechaCalendarioResponse">
<part name="parameters" element="tns:getComprobacionFechaCalendarioResponse"/>
</message>
<message name="obtener_dis_entre_2_fechas">
<part name="parameters" element="tns:obtener_dis_entre_2_fechas"/>
</message>
<message name="obtener_dis_entre_2_fechasResponse">
<part name="parameters" element="tns:obtener_dis_entre_2_fechasResponse"/>
</message>
<message name="getPeriodoInicioSem">
<part name="parameters" element="tns:getPeriodoInicioSem"/>
</message>
<message name="getPeriodoInicioSemResponse">
<part name="parameters" element="tns:getPeriodoInicioSemResponse"/>
</message>
<message name="determinarDiaSemana">
<part name="parameters" element="tns:determinarDiaSemana"/>
</message>
<message name="determinarDiaSemanaResponse">
<part name="parameters" element="tns:determinarDiaSemanaResponse"/>
</message>
<message name="getHorarioDocenteCurso">
<part name="parameters" element="tns:getHorarioDocenteCurso"/>
</message>
<message name="getHorarioDocenteCursoResponse">
<part name="parameters" element="tns:getHorarioDocenteCursoResponse"/>
</message>
<message name="getProbarqVELE">
<part name="parameters" element="tns:getProbarqVELE"/>
</message>
<message name="getProbarqVELEResponse">
<part name="parameters" element="tns:getProbarqVELEResponse"/>
</message>
<portType name="ddaWSPlanClaseAD">
<operation name="getPeriodoFinSem">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getPeriodoFinSemRequest" message="tns:getPeriodoFinSem"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getPeriodoFinSemResponse" message="tns:getPeriodoFinSemResponse"/>
</operation>
<operation name="obtenerMes">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtenerMesRequest" message="tns:obtenerMes"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtenerMesResponse" message="tns:obtenerMesResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtenerMes/Fault/ParseException"/>
</operation>
<operation name="setCalendario">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/setCalendarioRequest" message="tns:setCalendario"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/setCalendarioResponse" message="tns:setCalendarioResponse"/>
</operation>
<operation name="getHorarioDoc">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getHorarioDocRequest" message="tns:getHorarioDoc"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getHorarioDocResponse" message="tns:getHorarioDocResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getHorarioDoc/Fault/ParseException"/>
</operation>
<operation name="determinar">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinarRequest" message="tns:determinar"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinarResponse" message="tns:determinarResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinar/Fault/ParseException"/>
</operation>
<operation name="getCalendarioAD">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getCalendarioADRequest" message="tns:getCalendarioAD"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getCalendarioADResponse" message="tns:getCalendarioADResponse"/>
</operation>
<operation name="getProbarq">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqRequest" message="tns:getProbarq"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqResponse" message="tns:getProbarqResponse"/>
</operation>
<operation name="getDocente">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getDocenteRequest" message="tns:getDocente"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getDocenteResponse" message="tns:getDocenteResponse"/>
</operation>
<operation name="getProbarqVELE2COM">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqVELE2COMRequest" message="tns:getProbarqVELE2COM"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqVELE2COMResponse" message="tns:getProbarqVELE2COMResponse"/>
</operation>
<operation name="obtenerUltimoDiaMes">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtenerUltimoDiaMesRequest" message="tns:obtenerUltimoDiaMes"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtenerUltimoDiaMesResponse" message="tns:obtenerUltimoDiaMesResponse"/>
</operation>
<operation name="getComprobacionFechaCalendario">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getComprobacionFechaCalendarioRequest" message="tns:getComprobacionFechaCalendario"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getComprobacionFechaCalendarioResponse" message="tns:getComprobacionFechaCalendarioResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getComprobacionFechaCalendario/Fault/ParseException"/>
</operation>
<operation name="obtener_dis_entre_2_fechas">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtener_dis_entre_2_fechasRequest" message="tns:obtener_dis_entre_2_fechas"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtener_dis_entre_2_fechasResponse" message="tns:obtener_dis_entre_2_fechasResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/obtener_dis_entre_2_fechas/Fault/ParseException"/>
</operation>
<operation name="getPeriodoInicioSem">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getPeriodoInicioSemRequest" message="tns:getPeriodoInicioSem"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getPeriodoInicioSemResponse" message="tns:getPeriodoInicioSemResponse"/>
</operation>
<operation name="determinarDiaSemana">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinarDiaSemanaRequest" message="tns:determinarDiaSemana"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinarDiaSemanaResponse" message="tns:determinarDiaSemanaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/determinarDiaSemana/Fault/ParseException"/>
</operation>
<operation name="getHorarioDocenteCurso">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getHorarioDocenteCursoRequest" message="tns:getHorarioDocenteCurso"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getHorarioDocenteCursoResponse" message="tns:getHorarioDocenteCursoResponse"/>
</operation>
<operation name="getProbarqVELE">
<input wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqVELERequest" message="tns:getProbarqVELE"/>
<output wsam:Action="http://ws.planclase.dda/ddaWSPlanClaseAD/getProbarqVELEResponse" message="tns:getProbarqVELEResponse"/>
</operation>
</portType>
<binding name="ddaWSPlanClaseADPortBinding" type="tns:ddaWSPlanClaseAD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPeriodoFinSem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="setCalendario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHorarioDoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="determinar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getCalendarioAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProbarq">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDocente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProbarqVELE2COM">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerUltimoDiaMes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComprobacionFechaCalendario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="obtener_dis_entre_2_fechas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getPeriodoInicioSem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="determinarDiaSemana">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="getHorarioDocenteCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProbarqVELE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ddaWSPlanClaseAD">
<port name="ddaWSPlanClaseADPort" binding="tns:ddaWSPlanClaseADPortBinding">
<soap:address location="http://localhost:8080/ddaPlanClaseAD/ddaWSPlanClaseAD"/>
</port>
</service>
</definitions>